MONGO_URI=mongodb+srv://USER:PASSWORD@cluster0.xxxxx.mongodb.net/quiz-maths-5eme
JWT_SECRET=votre_cle_secrete_longue_et_aleatoire_changez_moi
PORT=3000
APP_URL=https://votre-app.onrender.com
WAVE_NUMBER=+2250700000000
ORANGE_NUMBER=+2250800000000
PREMIUM_PRICE_MONTHLY=500
PREMIUM_PRICE_ANNUAL=4200
